<!doctype html>
<html lang="en">
  <head>
      <!--favicon-->
    <link rel="icon" type="image/x-icon" href="/static/link.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!--fontawesome-->
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!--prism css for code highlighting-->

    <link rel="stylesheet" href="/static/prism.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}{% endblock title %}</title>
    
  </head>
  <body>
    <!--Navbar-->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="/static/link.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Cheatsheet
    </a>
  </nav>


  <!--jumbotron-->

  <div style="text-align:center;" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{Topic}}</h1>
      <p class="lead">{{Topic_Message}}</p>
    </div>
  </div>


  <!--jumbotron end-->

   <!--Topic Heading-->

   <h1 class="display-4">{{Topic_Start}}</h1>
   
  <hr>
 
   <!--Topic heading end-->



  {% block body %}{% endblock body %}

   <!--footer start-->

   <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li style="text-align: center;" class="nav-item" ><i class="fab fa-github fa-2x pr-2 "  aria-hidden="true"></i><a href="https://github.com/Arfat6635" target="_blank"  class="nav-link text-muted">@Arfat6635</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Cheatsheet Inc, All rights reserved.</p>
  </footer>

  <!--footer end-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/prism.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>